name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-24.04
    env:
      SQLX_OFFLINE: true
      DATABASE_URL: postgres://blog:blog@localhost:5432/blog_romira_dev
    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: blog
          POSTGRES_PASSWORD: blog
          POSTGRES_DB: blog_romira_dev
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U blog -d blog_romira_dev"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          df -h

      - uses: actions/checkout@v6

      - name: Cache Cargo
        id: cache-cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./**/target
          key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-test-
            ${{ runner.os }}-cargo-

      - uses: extractions/setup-just@v3
        with:
          just-version: 1.39.0

      - name: Setup rustup components
        run: |
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu clippy

      - name: Install mold linker
        run: |
          sudo apt-get update
          sudo apt-get install -y mold

      - name: Setup .env
        run: |
          cp .env.example .env

      - name: Install leptosfmt
        run: just setup_leptosfmt

      - name: Check format
        run: just check-format

      - name: Clippy
        run: just clippy

      - name: Test
        run: mold -run just test
