name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Cache Cargo
        id: cache-cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./**/target
          key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-test-
            ${{ runner.os }}-cargo-

      - uses: extractions/setup-just@v3
        with:
          just-version: 1.39.0

      - name: Setup rustup components
        run: |
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu clippy

      - name: Setup .env
        run: |
          cp .env.example .env

      - name: Install leptosfmt
        run: |
          just setup_leptosfmt

      - name: cargo fmt
        run: |
          cargo fmt --all -- --check
          leptosfmt --check ./**/*.rs
        shell: bash

      - name: cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        shell: bash

      - name: cargo test
        run: cargo test --all-targets --all-features
        shell: bash
